In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [34]:
migrate_data = pd.read_csv("interprovincial_migration.csv")

In [35]:
migrate_data_df = pd.DataFrame(migrate_data)
migrate_data_df.head()

,Year,Quarter,Origin,N.L.,P.E.I.,N.S.,N.B.,Que.,Ont.,Man.,Sask.,Alta.,B.C.,Y.T.,N.W.T.,Nvt.,Total
0,1971,3,N.L.,0,39,378,279,218,1732,40,20,87,111,4,6,0,2914
1,1971,3,P.E.I.,35,0,326,256,77,563,34,24,102,52,5,7,0,1481
2,1971,3,N.S.,596,283,0,1272,590,3754,214,90,518,871,19,30,0,8237
3,1971,3,N.B.,432,260,1199,0,942,2785,124,66,328,384,7,11,0,6538
4,1971,3,Que.,373,92,651,1346,0,11692,535,123,821,1365,21,31,0,17050

In [36]:
list(migrate_data_df.columns)   # displaying column names

['Year',
 'Quarter',
 'Origin',
 'N.L.',
 'P.E.I.',
 'N.S.',
 'N.B.',
 'Que.',
 'Ont.',
 'Man.',
 'Sask.',
 'Alta.',
 'B.C.',
 'Y.T.',
 'N.W.T.',
 'Nvt.',
 'Total']

In [37]:
migrate_data_df.ndim  # displaying dimension of the dataset

2

In [38]:
migrate_data_df.info()  # displaying information of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2585 entries, 0 to 2584
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     2585 non-null   int64
 1   Quarter  2585 non-null   int64
 2   Origin   2585 non-null   object
 3   N.L.     2585 non-null   int64
 4   P.E.I.   2585 non-null   int64
 5   N.S.     2585 non-null   int64
 6   N.B.     2585 non-null   int64
 7   Que.     2585 non-null   int64
 8   Ont.     2585 non-null   int64
 9   Man.     2585 non-null   int64
 10  Sask.    2585 non-null   int64
 11  Alta.    2585 non-null   int64
 12  B.C.     2585 non-null   int64
 13  Y.T.     2585 non-null   int64
 14  N.W.T.   2585 non-null   int64
 15  Nvt.     2585 non-null   int64
 16  Total    2585 non-null   int64
dtypes: int64(16), object(1)
memory usage: 343.4+ KB

In [39]:
migrate_data_df.isna().sum()  # checking for null values

Year       0
Quarter    0
Origin     0
N.L.       0
P.E.I.     0
N.S.       0
N.B.       0
Que.       0
Ont.       0
Man.       0
Sask.      0
Alta.      0
B.C.       0
Y.T.       0
N.W.T.     0
Nvt.       0
Total      0
dtype: int64

In [40]:
migrate_data_df.describe  # displaying summary statistics for numeric variables

<bound method NDFrame.describe of       Year  Quarter  Origin  N.L.  P.E.I.  N.S.  N.B.  Que.   Ont.  Man.  \
0     1971        3    N.L.     0      39   378   279   218   1732    40
1     1971        3  P.E.I.    35       0   326   256    77    563    34
2     1971        3    N.S.   596     283     0  1272   590   3754   214
3     1971        3    N.B.   432     260  1199     0   942   2785   124
4     1971        3    Que.   373      92   651  1346     0  11692   535
...    ...      ...     ...   ...     ...   ...   ...   ...    ...   ...
2580  2022        3   Alta.   370      98   682   406   975   3645   659
2581  2022        3    B.C.   123      78   742   373  1062   4204   537
2582  2022        3    Y.T.     8       0    17     5     6     55     0
2583  2022        3  N.W.T.    15       4    21    71    42    154    18
2584  2022        3    Nvt.     5      15    31     5     4    198     0

      Sask.  Alta.  B.C.  Y.T.  N.W.T.  Nvt.  Total
0        20     87   111     4       6     0   2914
1        24    102    52     5       7     0   1481
2        90    518   871    19      30     0   8237
3        66    328   384     7      11     0   6538
4       123    821  1365    21      31     0  17050
...     ...    ...   ...   ...     ...   ...    ...
2580   1572      0  4968    65      65    26  13531
2581    951  10928     0    50      57     0  19105
2582     41    183    69     0      30     0    414
2583     10    146    70    24       0    13    588
2584     21     84     0    13      11     0    387

[2585 rows x 17 columns]>

In [41]:
data = [['N.L.','Newfoundland and Labrador'], ['P.E.I.','Prince Edward Island'], ['N.S.','Nova Scotia'],['N.B.','New Brunswick'],['Que.','Quebec'],['Ont.','Ontario'],['Man.','Manitoba'],['Sask.','Saskatchewan'],['Alta.','Alberta'],['B.C.','British Columbia'],['Y.T.','Yukon'],['N.W.T.','Northwest Territories'],['Nvt.','Nunavut']]

province_df = pd.DataFrame(data, columns=['Origin', 'ProvinceNames'])

print(province_df)

    Origin              ProvinceNames
0     N.L.  Newfoundland and Labrador
1   P.E.I.       Prince Edward Island
2     N.S.                Nova Scotia
3     N.B.              New Brunswick
4     Que.                     Quebec
5     Ont.                    Ontario
6     Man.                   Manitoba
7    Sask.               Saskatchewan
8    Alta.                    Alberta
9     B.C.           British Columbia
10    Y.T.                      Yukon
11  N.W.T.      Northwest Territories
12    Nvt.                    Nunavut

In [48]:
result_data = pd.merge(
    migrate_data_df, province_df, how="left", on=["Origin"]
)
result_data.head()

,Year,Quarter,Origin,Newfoundland and Labrador,Prince Edward Island,Nova Scotia,New Brunswick,Quebec,Ontario,Manitoba,Saskatchewan,Alberta,British Columbia,Yukon,Northwest Territories,Nunavut,Total,ProvinceNames
0,1971,3,N.L.,0,39,378,279,218,1732,40,20,87,111,4,6,0,2914,Newfoundland and Labrador
1,1971,3,P.E.I.,35,0,326,256,77,563,34,24,102,52,5,7,0,1481,Prince Edward Island
2,1971,3,N.S.,596,283,0,1272,590,3754,214,90,518,871,19,30,0,8237,Nova Scotia
3,1971,3,N.B.,432,260,1199,0,942,2785,124,66,328,384,7,11,0,6538,New Brunswick
4,1971,3,Que.,373,92,651,1346,0,11692,535,123,821,1365,21,31,0,17050,Quebec

In [49]:
dict = {
    "N.L." : "Newfoundland and Labrador",
    "P.E.I." : "Prince Edward Island",
    "N.S." : "Nova Scotia",
    "N.B." : "New Brunswick",
    "Que." : "Quebec",
    "Ont." : "Ontario",
    "Man." : "Manitoba",
    "Sask." : "Saskatchewan",
    "Alta." : "Alberta",
    "B.C." : "British Columbia",
    "Y.T." : "Yukon",
    "N.W.T." : "Northwest Territories",
    "Nvt." : "Nunavut"}

result_data.rename(columns=dict,
          inplace=True)

display(result_data.head())

,Year,Quarter,Origin,Newfoundland and Labrador,Prince Edward Island,Nova Scotia,New Brunswick,Quebec,Ontario,Manitoba,Saskatchewan,Alberta,British Columbia,Yukon,Northwest Territories,Nunavut,Total,ProvinceNames
0,1971,3,N.L.,0,39,378,279,218,1732,40,20,87,111,4,6,0,2914,Newfoundland and Labrador
1,1971,3,P.E.I.,35,0,326,256,77,563,34,24,102,52,5,7,0,1481,Prince Edward Island
2,1971,3,N.S.,596,283,0,1272,590,3754,214,90,518,871,19,30,0,8237,Nova Scotia
3,1971,3,N.B.,432,260,1199,0,942,2785,124,66,328,384,7,11,0,6538,New Brunswick
4,1971,3,Que.,373,92,651,1346,0,11692,535,123,821,1365,21,31,0,17050,Quebec